{% extends 'tour/base.html' %}

{% block content %}

<div class="auth-container">
    <div class="auth-card">
        <h2>Set New Password</h2>

        <form method="POST">
            {% csrf_token %}

            {{ form.non_field_errors }}

            <div class="input-group">
                <label>New Password</label>
                {{ form.new_password1 }}
                {{ form.new_password1.errors }}
            </div>

            <div class="input-group">
                <label>Confirm Password</label>
                {{ form.new_password2 }}
                {{ form.new_password2.errors }}
            </div>

            <button type="submit" class="auth-btn">
                Reset Password
            </button>
        </form>
    </div>
</div>

{% endblock %}