{% extends 'tour/base.html' %}

{% block content %}

<div class="auth-container">
    <div class="auth-card">
        <h2>Reset Your Password</h2>

        <p class="reset-info">
            Enter your registered email address and we’ll send you a link to reset your password.
        </p>

        <form method="POST">
            {% csrf_token %}
            
            <div class="input-group">
                <label>Email</label>
                {{ form.email }}
                {{ form.email.errors }}
            </div>

            <button type="submit" class="auth-btn">
                Send Reset Link
            </button>
        </form>

        <p class="auth-link">
            Remember your password?
            <a href="{% url 'login' %}">Back to Login</a>
        </p>
    </div>
</div>

{% endblock %}